html, body {
  margin: 0;
  height: 100%;
  overflow: hidden
}
/* header css */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

h3 {
  margin: 0;
  text-align: center;
  width: 100%;
}

nav{
  width: 100%;
  height: 85px;
  background-color: white;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.11);
}
nav ul{
  float: right;
}
nav ul li{
  float: left;
  list-style: none;
  position: relative;
}
nav ul li a{
  font-family: Arial;
  color: #272727;
  font-size: 20px;
  text-decoration: none;
  padding: 28px;
  display: block;
  
}
nav ul li a:hover{
  background-color: #ebebeb;
} 
nav ul li ul{
  display: none;
  position: absolute;
  background-color: #33858588;
  padding: 7px;
  border-radius: 0px 0px 12px 12px;
  
}
nav ul li:hover ul{
  display: block;
}
nav ul li ul li a{
  color: white;
  padding: 16px 20px;
  border-radius: 8px;
}
nav ul li ul li a:hover{
  background-color: #296b6b;
}




/* main div with #map and #weather-menu settings */
.main {
  display: table;
  width: 100%;
  table-layout: fixed;
  border-spacing: 10px;
}

#map, #weather-menu {
  display: table-cell;

}

/* map settings */
#map {
  height: 800px;
  width: 65%;
  border: 2px solid black;
}

/* weather menu settings */
div#weather-menu {
  border: 2px solid black;
  height: 800px;
  border-radius: 5px;
  width: 25%;

}


/* weather-menu config */
h2#city {
  text-align: center;
}

.popup {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.popup img {
  max-width: fit-content;
}